version: "3.9"

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_SERVER_URL: http://localhost:3001
    depends_on:
      - server
    networks:
      - app-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      DB_USERNAME: admin
      DB_PASSWORD: csse4103
      DB_NAME: FitLifeDb
      PORT: 3001
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
